version: '3.8'
services:
  web:
    build: .
    environment:
      - DATABASE_HOST=localhost
      - DATABASE_PORT=5433
      - DATABASE_NAME=steven
      - DATABASE_USER=steven
      - DATABASE_PASSWORD=Secret!1234
      - API_HOST=0.0.0.0
      - API_PORT=8000
      - DEBUG=true
    volumes:
      - .:/app
    restart: unless-stopped
    network_mode: host

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    restart: unless-stopped
    network_mode: host
    depends_on:
      - web
